@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/Gotham-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('fonts/Gotham-Medium.woff') format('woff');
}

@font-face {
    font-family: 'avenir-next-regular';
    src: url('fonts/avenir-next-regular.woff') format('woff');
}

nav {
    display: flex;
    padding-top: .5%;
    padding-left: .5%;
    padding-right: .5%;
}

.logotext {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 110%;
    background-color: gold;
    padding-left: 10px;
    margin-top:-2%;
}

.topbars {
    display: flex;
    margin-left: 40%;
    justify-content: space-between;
    
    width: 100%;
    height: 20%;
}

.bars {
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
    text-decoration: none;
    color: white;
}

.search {
    background-color: black;
    height: 20px;
    width: 20px;
    padding: 5px;
}

header {
    background-image: url("assets/faculty.jpeg");
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
}

.faculty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 422px;
}

.facultytitle {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Gotham-Medium';
    font-size: 300%;
}

.facultytext {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'avenir-next-regular';
    font-size: 20px;
    text-align: center;
}

.lefttext {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

.leftblock {
    background-color: darkslategrey;
    height: 81vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#p1 {
    background: url('assets/person1.jpeg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.leftp {
    display: flex;
    height: 60vh;
    align-items: center;
    font-size: 120px;
    color: white;
    font-family: 'avenir-next-regular';
    padding-left: 30px;
}

#p2 {
    background: url('assets/person2.jpeg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#p3 {
    background: url('assets/person3.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#p4 {
    background: url('assets/person4.jpeg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.righttext {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

#p5 {
    background: url('assets/person5.jpeg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#p6 {
    background: url('assets/person6.jpeg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#p7 {
    background: url('assets/person7.jpeg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#p8 {
    background: url('assets/person8.jpeg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.rightblock {
    background-color: darkslategrey;
    height: 81vh;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.rightp {
    display: flex;
    height: 60vh;
    align-items: center;
    font-size: 120px;
    color: white;
    font-family: 'avenir-next-regular';
    padding-left: 30px;
}

footer {
    display: flex;
    justify-content: space-around;

    background-color: darkslategrey;
    margin-top: 20px;
    height: 20vh;
}

.footerlinks {
    text-decoration: none;
    color: white;
    font-family: 'avenir-next-regular';
}

.links1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: solid red 1px;
}